* {
	box-sizing: border-box;
	margin: 0;
}

.fondo {
	padding-top: 2.2em;
	background-image: url("../img/fondo-gif.gif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.relative {
	position: relative;
}

.logo {
	width: 25%;
}

.position {
	position: absolute;
	bottom: 1.8em;
	width: 100%;
}

.boton {
	width: 100%;
	padding: 10px 45px;
	color: #FFF;
}

.boton-der {
	background: linear-gradient(to right, #a80077 0%,#a80077 43%,#ce2767 100%);
	border-radius: 5px;
}

.boton-izq {
	border: 1px solid #FFF;
	background-color: transparent;
}