* {
	box-sizing: border-box;
}

.foto {
	height: 220px;
	width: 100%;
}

.nombre-usuario {
	font-size: 2.2em;
	font-weight: bold;
	margin-top: 0.5em;
}

.joined {
	background-color: #C4CCDF;
	width: 65%;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: bold;
	height: 35px;
	padding-top: 6px;
}

.points {
	font-size: 1.2em;
	color: #D806A3;
	position: absolute;
	top: 8px;
	left: 8px;
}

.edit {
	color: #D806A3;
	position: absolute;
	top: 8px;
	right: 10px;
	font-weight: bold;
}

.edit:visited {
	text-decoration: none;
}

.like-list {
	list-style: none;
}

.like {
	margin-top: 45px;
}

.icon-like {
	font-size: 1.2em;
	margin-right: 0.8em;
}

.icon-l:hover {
	text-decoration: none;
}

.like-list li {
	margin-bottom: 0.8em;
}

.icon-l {
	color: #000;
}

.section {
	height: 100vh;
}