* {
	box-sizing: border-box;
}

.foto {
	height: 220px;
	width: 100%;
	position: relative;
}

.nombre-usuario {
	font-size: 2.2em;
	font-weight: bold;
	margin-top: 0.5em;
}

.joined {
	background-color: #C4CCDF;
	width: 70%;
	border-radius: 5px;
	margin: 0 auto;
	font-weight: 1.3em;
	font-weight: bold;
}

.like-list {
	list-style: none;
}

.like {
	margin-top: 30px;
}

.icon-like {
	font-size: 1.2em;
	margin-right: 0.8em;
}

.icon-l:hover {
	text-decoration: none;
}

.like-list li {
	margin-bottom: 0.8em;
}

.icon-l {
	color: #000;
}

.section {
	height: 100vh;
}

.take-picture {
	color: transparent;
}