* {
	box-sizing: border-box;
}

.foto {
	height: 220px;
	width: 100%;
	position: relative;
}

.nombre-usuario {
	font-size: 2.2em;
	font-weight: bold;
	margin-top: 0.5em;
}

.joined {
	background-color: #C4CCDF;
	width: 70%;
	border-radius: 5px;
	margin: 0 auto;
	font-weight: 1.3em;
	font-weight: bold;
}

.like-list {
	list-style: none;
}

.like {
	margin-top: 30px;
}

.icon-like {
	font-size: 1.2em;
	margin-right: 0.8em;
}

.icon-l:hover {
	text-decoration: none;
}

.like-list li {
	margin-bottom: 0.8em;
}

.icon-l {
	color: #000;
}

.section {
	height: 100vh;
}

.boton-foto {
	width: 50%;
	top: 10px;
	left: 10px;
	color: transparent;
	position: absolute;
	z-index: 1;
}

.logo-perfil {
	position: absolute;
	width: 15%;
	z-index: 3;
	right: 15px;
	top: 10px;
}

.video {
	width: 100%;
	height: 220px;
	position: absolute;
	top: 0;
}

.camara {
	position: absolute;
	top: 40px;
	left: 10px;
}