@media(min-width : 1280px) {
    .nombre {
    	background-position-x: 1%;
		background-position-y: 51%;
		background-size: 4%;
    }

    .email {
    	background-position-x: 0.2%;
		background-position-y: 26%;
		background-size: 3%;
    }
}

@media(max-width : 800px) {
    .num {
        padding: 2px;
        color: #000;
    }
}