* {
	box-sizing: border-box;
	margin: 0;
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

.pd-a {
	padding-top: 1.8em;
	height: 100vh;
}

.pd-b {
	padding-top: 1.5em;
}

.icon-left {
	font-size: 2.2em;
	color: #D806A3;
}

.titulo {
	margin-top: 0px;
	font-size: 2.5em;
}

.subtitulo {
	font-size: 1.3em;
}

.next {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.white {
	color: #FFF;
	background-color: #D806A3;
	padding: 21px 0px;
	display: inline-block;
	width: 100%;
}

.boton-bandera {
	padding-left: 5px;
}

.bandera {
	margin-right: 2px;
	width: 17px;
}

.input-pd {
	padding: 0px 20px;
}

.alerta {
	box-shadow: 1px 2px 4px rgba(254, 0, 0, .5);
}

.two-fields {
  	width: 100%;
}

.two-fields .input-group {
  	width: 100%;
}

.two-fields input {
  	width: 50% !important;
}