* {
	box-sizing: border-box;
	margin: 0;
}

.pd-a {
	padding-top: 1.8em;
	height: 100vh;
	position: relative;
}

.icon-left {
	font-size: 2.2em;
	color: #D806A3;
}

.inline-block {
	display: inline-block;
}

.verify {
	margin-top: 0px;
	font-size: 1.8em;
}

.next {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.white {
	color: #FFF;
	background-color: #D806A3;
	padding: 21px 0px;
	display: inline-block;
	width: 100%;
}

.codigo {
	padding-top: 1.8em;
}

.num {
	border: none;
  	background-color: white;
  	border-bottom: 2px solid #26ECCE;
  	width: 3%;
  	padding-left: 15px;
}

.num:focus{
   	outline: none;
}